
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: ack-kms-controller
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kms.services.k8s.aws
  resources:
  - aliases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kms.services.k8s.aws
  resources:
  - aliases/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kms.services.k8s.aws
  resources:
  - customkeystores
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kms.services.k8s.aws
  resources:
  - customkeystores/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kms.services.k8s.aws
  resources:
  - grants
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kms.services.k8s.aws
  resources:
  - grants/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kms.services.k8s.aws
  resources:
  - keys
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kms.services.k8s.aws
  resources:
  - keys/status
  verbs:
  - get
  - patch
  - update
