---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: ack-kms-writer
  namespace: default
rules:
- apiGroups:
  - kms.services.k8s.aws
  resources:
  - aliases
  - customkeystores
  - grants
  - keys
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kms.services.k8s.aws
  resources:
  - aliases
  - customkeystores
  - grants
  - keys
  verbs:
  - get
  - patch
  - update
