# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners

# Amazon SageMaker CodeOwners
/services/sagemaker @aws/sagemaker-operator @jkuruba
/test/e2e/sagemaker @aws/sagemaker-operator @jkuruba
