---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: ack-ecr-reader
  namespace: {{ .Release.Namespace }}
rules:
- apiGroups:
  - ecr.services.k8s.aws
  resources:
  - repositories
  verbs:
  - get
  - list
  - watch
