.home {
    background: linear-gradient(to bottom, transparentize($body-bg, 1) 30%, transparentize($body-bg, 0) 595px), url(images/bg-large.png), $body-bg !important;
    background-repeat: repeat-x;
    background-clip: border-box;
}

.home .navbar {
    background: transparentize($body-bg, $amount: 0.75);
    opacity: 1;
}