---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: ack-sns-writer
  namespace: {{ .Release.Namespace }}
rules:
- apiGroups:
  - sns.services.k8s.aws
  resources:
  - platformapplications

  - platformendpoints

  - topics

  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sns.services.k8s.aws
  resources:
  - platformapplications
  - platformendpoints
  - topics
  verbs:
  - get
  - patch
  - update
